<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="base.css">
  <title>Your Poll Links</title>
</head>
<body class = "custom">
  <div class = "container">

    <div class ="row links">
      <div class = "col-md-12">
        Admin URL:&nbsp;<a class="admin-url" href ="/poll/<%=adminUrl%>">http://localhost:3000/poll/<%=adminUrl%> </a>
      </div>
      <div class="col-md-12">
        Participant URL:&nbsp;<a class="user-url" href="/poll/<%=userUrl%>">http://localhost:3000/poll/<%=userUrl%> </div>
      </div>
      </div>
    </div>
  </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/client.js"></script>
  <script src="/jquery.js"></script>

</html>
